.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  transform: rotate(-360deg);
}

.social-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5) rotateX(180deg) perspective(400px);
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
  transition: all 250ms linear 250ms;
}

.modal-wrapper .backdrop.is-hidden.modal-wrapper {
  transition: all 250ms linear;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: all 250ms linear 250ms;
}

.modal .backdrop.is-hidden.modal {
  transition: all 250ms linear;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn-svg {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus .close-btn-svg,
.close-btn:hover .close-btn-svg {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-inp-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #2196f3;
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  margin-top: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border: 1px solid #2196f3;
}

.modal-form .modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-user-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-link {
  color: #2196f3;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

.modal-form-input:focus + .modal-form-user-svg {
  fill: #2196f3;
}

.modal-check-policy-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-check-policy-label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/modal/flag-false.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-check-policy-label::before {
  background-image: url(../images/modal/flag-true.svg);
}

.section-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-second-part {
  color: #000;
}

.footer-content .logo-second-part {
  color: #fff;
}

.footer-content .logo {
  display: block;
  margin-bottom: 20px;
}

.navigation .logo {
  margin-right: 90px;
}

.accent:hover,
.accent:focus {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-list-link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link-svg {
  width: 16px;
  height: 16px;
  fill: #afb1b8;
  margin-right: 10px;
}

.header-list-link:hover .header-list-link-svg {
  fill: #2196f3;
}

.header-list-link:focus .header-list-link-svg {
  fill: #2196f3;
}

.header .address {
  margin-left: auto;
}

.header .address-list {
  display: flex;
}

.header .address-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  max-width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto 30px auto;
}

.benefits-list {
  display: flex;
}

.benefits-list-item {
  width: 270px;
}

.benefits-list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.benefits-list-icon-svg {
  width: 70px;
  height: 70px;
}

.benefits-list-head {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.benefits-list-discription {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
}

.what-we-do-content {
  position: relative;
}

.what-we-do-text-background {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.what-we-do-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-content {
  padding: 30px 32px;
  text-align: center;
  border-bottom: #eeeeee;
  border-right: #eeeeee;
  border-left: #eeeeee;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-list-name {
  font-style: normal;
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-discription {
  font-style: normal;
  font-weight: 400;
  color: #757575;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
}

.team-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-list-link {
  background-color: #fff;
}

.team-social-list-link:hover, .team-social-list-link:focus {
  background-color: #2196f3;
}

.team-social-list-svg {
  fill: #afb1b8;
}

.team-social-list-link:hover .team-social-list-svg {
  fill: #fff;
}

.team-social-list-link:focus .team-social-list-svg {
  fill: #fff;
}

.regular-customers {
  padding: 94px 0;
}

.regular-customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover, .customers-list-link:focus {
  border: 1px solid #2196f3;
}

.customers-list-item-svg {
  width: 80px;
  height: 47px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover .customers-list-item-svg {
  fill: #2196f3;
}

.customers-list-link:focus .customers-list-item-svg {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer-content {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left-side {
  margin-right: 70px;
}

.footer-address-list {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-map-link {
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-join-header {
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: #2196f3;
}

.footer-social-list-svg {
  fill: #fff;
}

.footer-social-list-link:hover .footer-social-list-svg {
  fill: #fff;
}

.footer-social-list-link:focus .footer-social-list-svg {
  fill: #fff;
}

.subscribe {
  padding-top: 12px;
}

.subscribe-title {
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  margin-right: 12px;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
  border: 1px solid #2196f3;
}

.subscribe-btn {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  border: none;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

.subscribe-btn::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/footer/send-footer.svg);
  vertical-align: middle;
}

.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */