$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$accent-color: #2196f3;
$hero-btn-accent-color: #188ce8;
$hero-bg-color: #c4c4c4;
$titles-color: #212121;
$description-color: #757575;
$white-color: #fff;
$dark-background-color: #2f303a;
$logo-second-part-color: #000;
$footer-link-color: rgba(255, 255, 255, 0.6);
$filter-btn-color: #f5f4fa;
$border-color: #eeeeee;
$top-line-border: #ececec;
$unactive-interactive-element: #afb1b8;
